<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Email</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	
	<link href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="vendor/dropzone/dist/dropzone.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
	
	<!-- Style css -->
   <link href="css/style.css" rel="stylesheet">

</head>



<body>

    <!-- PRELOADER START -->
    <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!-- PRELOADER END -->

    <!-- MAIN WRAPPER -->
    <div id="main-wrapper">

        <!-- HEADER START -->
        <div class="nav-header">
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
                </div>
            </div>
        </div>

        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-end">                        
                        <ul class="navbar-nav header-right">
							<li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link bell dz-fullscreen"  href="javascript:void(0);">
                                    <svg id="icon-full" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3" style="stroke-dasharray: 37, 57; stroke-dashoffset: 0;"></path></svg>
                                    <svg id="icon-minimize" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="A098AE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minimize"><path d="M8 3v3a2 2 0 0 1-2 2H3m18 0h-3a2 2 0 0 1-2-2V3m0 18v-3a2 2 0 0 1 2-2h3M3 16h3a2 2 0 0 1 2 2v3" style="stroke-dasharray: 37, 57; stroke-dashoffset: 0;"></path></svg>
                                </a>
							</li>	
                        </ul>
                    </div>
				</nav>
			</div>
		</div>
        <!-- HEADER END -->
		
        <!-- CONTENT START -->
        <div class="content-body">
            <!-- row -->
			<!-- <div class="container-fluid p-0"> -->
				<!-- <div class="row gx-0"> -->
                    <!-- <div class="col-lg-12"> -->
                        <div class="card mb-0 border-0 bg-white" style="min-height: 100vh; padding-inline: 30px;">
                            <!-- <div class="card-body"> -->
								<!-- <div class="row gx-0"> -->

									<!-- column
									<div class="col-xl-2 col-xxl-3 col-lg-3 email-left-body">
										<div class="email-left-box dz-scroll pt-3 ps-0" id="email-left">
											<div class="p-0">
												<a href="email-compose.html" class="btn text-white btn-block"><i class="fa-solid fa-plus me-2"></i>Compose Email</a>
											</div>
											<div class="mail-list rounded ">
												<a href="email-inbox.html" class="list-group-item active"><i class="fa-regular fa-envelope align-middle"></i>Inbox <span class="badge badge-purple badge-sm float-end rounded">2</span> </a>
												<a href="javascript:void(0);" class="list-group-item"><i class="fa-regular fa-paper-plane align-middle"></i>Sent</a> 	
												<a href="javascript:void(0);" class="list-group-item"><i class="fa-regular fa-star align-middle"></i>Favorite </a>
												<a href="javascript:void(0);" class="list-group-item"><i class="fa-regular fa-file align-middle"></i>Draft</a>
												<a href="javascript:void(0);" class="list-group-item"><i class="fa-regular fa-clock align-middle"></i> Scheduled</a>			
											</div>
										</div>
									</div> -->
                                    
									<!-- /column -->
									<!-- <div class="col-xl-10 col-xxl-9"> -->
										<!-- <div class="email-right-box ms-0 "> -->
											<div class="compose-wrapper mt-3 " id="compose-content">
												<div class="compose-content">
                                                    <h3 class="mb-4">Generate Email Draft</h3>

                                                    <form id="promptForm">
                                                        <h5 class="mb-3">Content's topic</h5>
														<div class="d-flex mb-3">
															<input type="text" class="form-control bg-transparent" id="promptInput" placeholder=" e.g. new choco crunchy cookies" style="height:45px; margin-right:10px;" required>
                                                            <button type="submit" class="btn btn-warning">Generate</button>
														</div>
													</form>

                                                    <div class="my-4">
                                                        <textarea id="outputArea" class="textarea_editor form-control bg-transparent" rows="5" style="min-height: 150px; max-height: 500px;"
                                                            placeholder="Your generated email will appear here ..." disabled></textarea>
                                                    </div>

                                                    <form id="sendMailForm">
                                                        <h5 class="mt-4 mb-3">Send to</h5>
														<div class="mb-3">
															<input type="text" class="form-control mb-3" id="emailTo" placeholder=" e.g. algonetwork1@gmail.com, algonetwork2@gmail.com, ..." style="height:45px;">
                                                            <input type="file" class="form-control" id="emailFile" accept=".csv"/>
														</div>

                                                        <h5 class="mt-4 mb-3">Schedule send (optional)</h5>
                                                        <input type="datetime-local" class="form-control" id="scheduleTime" placeholder="Select date and time" style="height:45px;"/>                                                        
												</div>
                                                        <div class="text-end mt-4 mb-3">
                                                            <button class="btn btn-danger btn-sl-sm" type="button" id="discardBtn" style="margin-right:10px;"><span class="me-2"><i class="fa fa-times"></i></span>Discard</button>
                                                            <button class="btn btn-warning btn-sl-sm" type="submit"><span class="me-2"><i class="fa fa-paper-plane"></i></span>Send</button>
                                                        </div>
                                                    </form>
											</div>
										<!-- </div> -->
									<!-- </div> -->

								<!-- </div> -->
                            <!-- </div> -->
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        </div>
	</div>

    <!-- EXTERNAL SCRIPTS -->
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="vendor/dropzone/dist/dropzone.js"></script>
    <script src="js/custom.js"></script>
	<script src="js/deznav-init.js"></script>
    
    <!-- INTERNAL SCRIPTS -->
    <script>
        $('#discardBtn').on('click', function() {
            $('#compose-content form').each(function() { this.reset(); });
            $('#outputArea').val('');
            $('#outputArea').on('input', function() {
                this.style.height = 'auto';
                this.style.height = (this.scrollHeight) + 'px';
            });
        });

        $(document).ready(function() {
            const now = new Date();
            const offset = now.getTimezoneOffset();
            const localDateTime = new Date(now.getTime() - (offset * 60 * 1000));
            const formattedDateTime = localDateTime.toISOString().slice(0, 16);
            document.getElementById('scheduleTime').value = formattedDateTime;
        });

        var form = document.getElementById("promptForm");

        form.addEventListener("submit", async (event) => {
        event.preventDefault();

        var prompt = document.getElementById("promptInput").value;
        var outputArea = document.getElementById("outputArea");

        outputArea.value = "Generating email...";
        outputArea.disabled = true; // Disable textarea during generation

        const response = await fetch("http://localhost:3000/chat", {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            },
            body: JSON.stringify({ prompt: prompt }),
        });

        const decoder = new TextDecoder();
        const reader = response.body.getReader();
        let chunks = "";

        while (true) {
            const { done, value } = await reader.read();
            if (done) break;
            chunks += decoder.decode(value);
            outputArea.value = chunks;
        }
        outputArea.disabled = false; // Enable textarea after generation
        });

        const toggleEmailToRequired = () => {
        if (emailFileInput.files.length > 0) {
            emailToInput.removeAttribute("required");
        } else {
            emailToInput.setAttribute("required", "required");
        }
        };

        const emailToInput = document.getElementById("emailTo");
        const emailFileInput = document.getElementById("emailFile");

        emailFileInput.addEventListener("change", toggleEmailToRequired);
        toggleEmailToRequired();

        sendMailForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        const emailToInput = document.getElementById("emailTo").value;
        const emailFileInput = document.getElementById("emailFile").files[0];
        const scheduleTimeInput = document.getElementById("scheduleTime").value;

        let text = document.getElementById("outputArea").value;
        let subjectLineEndIndex = text.indexOf("\n");
        let subjectLine = text.substring(0, subjectLineEndIndex).trim();
        let subject = subjectLine.startsWith("Subject:") ? subjectLine.substring(8).trim() : "No Subject";      
        text = text.substring(subjectLineEndIndex + 1).trim();

        const htmlContent = `
            <div style="width: 100%; margin: 0 auto; text-align: left; font-family: Raleway; font-size: 16px;">
            <div style="text-align: center; margin-bottom: 20px">
                <img src="https://algo-network.vercel.app/logos/logo.png" alt="" style="max-width: 100%; max-height: 100px;">
            </div>
            <div style="width:95%; margin:auto;">
            ${text.split('\n').map((line, index, array) => {
                if (index === 0) {
                return `<strong style="color: #172554; font-size: 24px;">${line}</strong>`;
                } else if (index === array.length - 1) {
                return `<a href="https://algo-network.vercel.app/" style="color: #172554;">${line}</a>`;
                }
                return `<span>${line}</span>`;
            }).join('<br>')}
            </div>
            </div>
            
            <footer style="width:auto;margin:25px auto;font-family:Raleway;background:#172554;padding: 30px 40px;text-align:center;border-radius: 5px;">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width:1000px;margin:0 auto">
                <tbody><tr>
                <td style="text-align:left">
                    <a href="https://algo-network.vercel.app/#" style="display:inline-block;margin:0 10px">
                    <img src="https://img.icons8.com/?size=100&amp;id=3685&amp;format=png&amp;color=FFFFFF" alt="Website" style="width:30px;vertical-align:middle">
                    </a>
                    <a href="https://www.linkedin.com/company/algo-network/" style="display:inline-block;margin:0 10px">
                    <img src="https://img.icons8.com/?size=100&amp;id=447&amp;format=png&amp;color=FFFFFF" alt="LinkedIn" style="width:30px;vertical-align:middle">
                    </a>
                    <a href="https://www.instagram.com/algonetwork" style="display:inline-block;margin:0 10px">
                    <img src="https://img.icons8.com/?size=100&amp;id=32292&amp;format=png&amp;color=FFFFFF" alt="Instagram" style="width:30px;vertical-align:middle">
                    </a>
                </td>
                <td style="text-align:right">
                    <p style="color:#fff;font-size:1rem;font-weight:300;margin:0">©2024 Algo Network | All Rights Reserved</p>
                </td>
                </tr>
            </tbody></table>
            </footer>
        `;

        let recipients = [];
        if (emailFileInput) {
            const fileContent = await emailFileInput.text();
            recipients = fileContent.split("\n").map(line => line.trim()).filter(line => line.length > 0);
        } else {
            recipients = emailToInput.split(",").map(email => email.trim());
        }

        const mailResponse = await fetch("http://localhost:3000/text-mail", {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            },
            body: JSON.stringify({ to: recipients, subject: subject, text: text, html: htmlContent, scheduleTime: scheduleTimeInput }),
        });

        if (mailResponse.ok) {
            alert("Email scheduled successfully!");
        } else {
            alert("Failed to schedule email.");
        }
        });

    </script>
	
</body>
</html>